// Sizes
$main-content-width: 75%;
$size-xs: 4px;
$size-s: 8px;
$size-m: 16px;
$size-l: 32px;
$size-xl: 64px;

// Colors
$background-color: #cacaca;
$primary-color: black;
$over-primary-color: white;
$secondary-color: white;
$over-secondary-color: #111716;
$terciary-color: yellow;

// Font
$font-family: 'Roboto', sans-serif;
$font-bold: 700;